<div class='row text-center'>
    <div style='border-bottom:2px solid gray' class='col-md-12 col-lg-12 col-xs-12'>
<img style='width:20px; height:20px' src="{{asset('\public\uploads\photos\logo.png')}}"> Phone Mania</img> <br/> Zmiana statusu zamówienia
    </div>
<br/>
Twoje zamówienie zmieniło status na: <b>{{order.getStatus}} </b>

<div>
Dane do faktury :
<table class="table table-light">
  <tr> <td style="padding:2px; text-align:left"> {{user.getFirstName}} {{user.getLastName}} </td> </tr> </br>
  <tr><td style="padding:2px; text-align:left">  ul. {{user.getStreet}} {{user.getStreetNumber}}</td></tr> </br>
   <tr><td style="padding:2px; text-align:left">  {{user.getPostCode}} {{user.getCity}}</td></tr>
</table>
</div>
<div class='col-md-12 col-xs-12'>
<table class="table table-light" style="padding:4px;">
        <thead style="padding:6px;
        text-align: center;
        background-color: #56647a;
        color: white;" class="thead-light">
                <tr style="padding:6px;">
                    <th style="padding:6px;"  scope="col">Produkt</th>
                     <th style="padding:6px;" scope="col">Ilość</th>        
                     <th style="padding:6px;" scope="col" >Cena jednostkowa</th>
                     <th style="padding:6px;" scope="col" >Razem</th>                    
                 </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr style="background-color:#f2f2f2; text-align:center; padding:6px;">
            <td style="padding:6px;" scope="row">{{product.smartphone.manufacturer.name}} {{product.smartphone.name}}</td>
            <td style="padding:6px;" scope="row">{{product.getCount}}</td>
            <td style="padding:6px;" scope="row">{{(product.smartphone.getPrice|number_format(2))}} zł</td>
            <td style="padding:6px;" scope="row">{{(product.smartphone.getPrice * product.getCount)|number_format(2)}} zł</td>
            </tr>
            {% endfor %}
            <tr style="background-color:#f2f2f2; text-align:center; padding:6px;">
             <td style="padding:6px;" scope="row">{{order.payment.name|first|upper}}{{order.payment.name|slice(1,order.payment.name|length - 1)}}</td>
             <td style="padding:6px;" scope="row">1</td> 
             <td style="padding:6px;" scope="row">{{order.payment.price|number_format(2)}} zł</td>
             <td style="padding:6px;" scope="row">{{order.payment.price|number_format(2)}} zł</td>
            </tr>
            <tr style="padding:6px;">
                    <th style="padding:6px;"  scope="col">Do zapłaty</th><td style="padding:6px;" scope="row"></td><td style="padding:6px;" scope="row"></td>
                    <td style="padding:6px;" scope="row">{{(order.getTotalPrice + order.payment.price)|number_format(2)}} zł</td>
        </tbody>
</table>
<br/>
<br/>
<div class='col-md-12 col-lg-12 col-xs-12'>
    <b>Sposób zapłaty :</b> {{order.payment.name}}
</div>
</br>
    <div style='border-top:2px solid gray' class='col-md-12 col-lg-12 col-xs-12'>
    Pozdrawiamy, <br/>
    Ekipa Phone Mania
    </div>
</div>
